* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  font-size: 1.4rem;
  background-color: rgb(179, 36, 60);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}
nav > * {
  margin: 20px;
}
nav .title {
  font-size: 1.5rem;
}
nav .nav_links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 2rem;
  letter-spacing: 2px;
}
nav .menu {
  display: none;
}

@media (hover: hover) {
  .nav_links .nav_link {
    position: relative;
  }
  .nav_links .nav_link::before {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 100%;
    transition: all 0.2s ease-in-out;
  }
  .nav_links .nav_link:hover::before {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  nav .menu {
    display: block;
    margin-left: auto;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
  }
  nav .menu hr {
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-color: black;
    box-shadow: none;
  }
  nav:has(.menu_open) {
    height: 4.5rem;
  }
  nav .menu_open hr:nth-child(1) {
    animation: open1 0.3s ease-in-out forwards;
  }
  nav .menu_open hr:nth-child(2) {
    animation: open2 0.3s ease-in-out forwards;
  }
  nav .menu_open hr:nth-child(3) {
    animation: open3 0.3s ease-in-out forwards;
  }
  nav .menu_closed hr:nth-child(1) {
    animation: close1 0.3s ease-in-out forwards;
  }
  nav .menu_closed hr:nth-child(2) {
    animation: close2 0.3s ease-in-out forwards;
  }
  nav .menu_closed hr:nth-child(3) {
    animation: close3 0.3s ease-in-out forwards;
  }
  nav .nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgb(179, 36, 60);
    margin: 0;
    z-index: -1;
    padding: 2rem 0rem;
    transform: translateY(-120%);
  }
  nav .nav_links .nav_link {
    min-width: 10rem;
    text-align: center;
  }
  nav .menu_open + .nav_links {
    animation: slide_down 0.75s ease-in-out forwards;
  }
  nav .menu_closed + .nav_links {
    animation: slide_up 0.75s ease-in-out forwards;
  }
}
@keyframes open1 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(45deg) translate(6px, 6px);
  }
}
@keyframes open2 {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes open3 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
@keyframes close1 {
  0% {
    transform: rotate(45deg) translate(6px, 6px);
  }
  100% {
    transform: none;
  }
}
@keyframes close2 {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: none;
  }
}
@keyframes close3 {
  0% {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  100% {
    transform: none;
  }
}
@keyframes slide_down {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: none;
  }
}
@keyframes slide_up {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-120%);
  }
}/*# sourceMappingURL=style.css.map */