* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    font-size: 1.4rem;
    padding: 20px;
    background-color: rgb(179, 36, 60);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

nav ul li:first-child {
    margin-right: auto;
}

.menu {
    display: none;
}


/* menu Styling and animation */
@media only screen and (max-width:768px) {
    nav ul li:not(li:first-child, li:nth-child(2)) {
        display: none;
    }

    .menu {
        display: block;
        margin-left: auto;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .menu hr {
        width: 100%;
        height: 4px;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        border-color: black;
        box-shadow: 0px 0x 0px black;
    }

    .menu_open hr:nth-child(1) {
        animation: open1 0.3s ease-in-out forwards;
    }

    @keyframes open1 {
        0% {
            transform: none;
        }

        100% {
            transform: rotate(45deg) translate(6px, 6px);
        }
    }

    .menu_open hr:nth-child(2) {
        animation: open2 0.3s ease-in-out forwards;
    }

    @keyframes open2 {
        0% {
            transform: none;
        }

        100% {
            transform: translateX(30px);
        }
    }

    .menu_open hr:nth-child(3) {
        animation: open3 0.3s ease-in-out forwards;
    }

    @keyframes open3 {
        0% {
            transform: none;
        }

        100% {
            transform: rotate(-45deg) translate(6px, -6px);
        }
    }



    .menu_closed hr:nth-child(1) {
        animation: close1 0.3s ease-in-out forwards;
    }

    @keyframes close1 {
        0% {
            transform: rotate(45deg) translate(6px, 6px);
        }

        100% {
            transform: none;
        }
    }

    .menu_closed hr:nth-child(2) {
        animation: close2 0.3s ease-in-out forwards;
    }

    @keyframes close2 {

        0% {
            transform: translateX(30px);
        }

        100% {
            transform: none;
        }

    }

    .menu_closed hr:nth-child(3) {
        animation: close3 0.3s ease-in-out forwards;
    }

    @keyframes close3 {
        0% {
            transform: rotate(-45deg) translate(6px, -6px);
        }

        100% {
            transform: none;
        }
    }


}